<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Pong all dem pings!</title>
</head>
<body>
    <div class='container'>
        <h1>Pong Translator</h1>
        <p>Enter the number you want to run through the pingpong program</p>
        <form action='/output'>
            <div class='form-group'>
              <label for='pong'>Numerical Ponginputping:</label>
              <input id='pong' name='pong' class='form-control' type='number'>
            </div>
            <button type='submit' class='btn-success'>Commence the Ponging!</button>
        </form>
    </div>
</body>
</html>
