<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Pong all dem pings!</title>
</head>
<body>
    <div class='container'>
        <h1>Here's your output:</h1>
        <ul>
        {% for ping in pings %}
        <li> {{ ping.printOutput }} </li>
        {% endfor %}
        </ul>
        <form action='/'>
            <button type='submit' class='btn-success'>Return home</button>
        </form>
    </div>
</body>
</html>
